@import "tailwindcss";

button{
    cursor:pointer;
}

:root{
    @apply bg-gray-100;
}

.animate-shine {
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
